{% if module_content.get('blacklist', false) -%}
blacklist {{ module_name }}
{%- else -%}

options {{ module_name }}{% for option, value in module_content.get('option', {}) | dictsort %} {{ option }}={{ value }}{% endfor %}

{%- endif %}
