Source: salt-formula-linux
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-linux
Vcs-Git: https://github.com/tcpcloud/salt-formula-linux.git

Package: salt-formula-linux
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Linux salt formula
 Configure Linux operating system.
